/* debug */
header{
    height: 50px;
    /* debug */
    background-color: red;
}
/* sezione main  */
main{
    height: calc(100vh - 50px);
    /* debug */
    background-color: aqua;
}

#pagine{
    width: 150px;
    height: 100%;
    /* debug */
    background-color: rgb(100, 85, 117);
}

#main-principale{
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
    /* debug */
    background-color: orange;
}

main>div{
    display: flex;
    height: calc(100vh - 50px);
}
/* sezione pagine */

#parte-superiore{
    height: calc(100vh - 150px);
}

#parte-inferiore{
    height: 100px;
}
/* caratteristiche main principale */

#boolean-studenti{
    height: 100px;
    /* debug */
    background-color: azure;
}
/* caratteristiche classi */

#classi-successive{
    /* debug */
    height: 300px;
    background-color: bisque;
}

#todo{
    /* debug */
    height: 300px;
    background-color: brown;
}